@import "tailwindcss";
@import "swiper/css";
@import "swiper/css/navigation";
@import "swiper/css/pagination";

:root {
  --font-inter: "Inter", sans-serif;
  --font-roboto: "Roboto", sans-serif;
}
@theme inline {
  --color-body: #f7f8fa;
  --color-black-true: #1d1e21;
  --color-white-true: #ffffff;
  --color-green-soft: #e6f1e9;
  --color-green-light: #59b17a;
  --color-green-dark: #3f945f;
  --color-gray-light: #f7f8fa;
  --color-gray-dark: #6a6a6f;
  --color-gray-soft: #d1d5db;
  --color-red-light: #f6e8e9;
  --color-red-dark: #e85050;
  --color-yellow-dark: #ffc531;
  --color-purpule-dark: #8059e4;
  --color-orange-dark: #f79042;
  --color-blue-light: #70a6e8;
  --color-blue-dark: #3b82f6;

  --breakpoint-*: initial;
  --breakpoint-mobile: 375px;
  --breakpoint-tablet: 768px;
  --breakpoint-desktop: 1440px;
}

html {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  font-family: var(--font-inter), sans-serif;
  background: var(--color-body);
  font-size: 14px;
  line-height: 1.29;
  font-weight: 400;
}

@media (min-width: 768px) {
  body {
    font-size: 16px;
    line-height: 1.5;
  }
}

ul,
ol {
  list-style: none;
}

a {
  font-family: inherit;
  text-decoration: none;
  cursor: pointer;
}

button {
  font-family: inherit;
  cursor: pointer;
}

input,
textarea {
  font-family: inherit;
  outline: none;
}
